@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Unbounded', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  background: #000000;
}

body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

body .container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(255, 250, 250, 0.264),
    inset -5px -5px 15px rgba(255, 255, 255, 0.21),
    5px 5px 15px #77eb34, -5px -5px 15px #77eb34;
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
  
}


body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  
}

body .container .card .box:hover {
  transform: translateY(-50px);
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

body .container .card .box .content {
  padding: 20px;
  text-align: center;
}

body .container .card .box .content .h2 {
  margin-top: -rem;
  right: 55px;
  font-size: 1.5rem;
  background-color: #00000000;
  border-bottom: 3px solid #99d50f;
  color:white;
  text-shadow: #99d50f 1px 0 10px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32 px;
  } ;
}
body .container .card .box .content .h22 {
  margin-top: -4rem;
  right: 55px;
  font-size: 1.5rem;
  background-color: #00000000;
  border-bottom: 3px solid #99d50f;
  color:white;
  text-shadow: #99d50f 1px 0 10px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32 px;
  } ;
}

body .container .card .box .content h3 {
  margin-top:10%;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: #99d50f 1px 0 10px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32 px;
  } ;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 50px;
  --interval: 1.8s;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 5s infinite;
}
body .container .card .box .content h3 :hover {
  outline-offset: 80px;
  text-shadow: 1px 1px 6px rgb(255, 255, 255);
  outline-color: rgb(0, 0, 0);
}
@keyframes flicker {
  50% {
    color: #00913ad5;
    filter: saturate(200%) hue-rotate(20deg);
  }
}
body .container .card .box .content .h3 {
  margin-top:7%;
  font-size: 2.5rem;
  color: #fff;
  text-shadow: #99d50f 1px 0 10px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32 px;
  } ;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 50px;
  --interval: 1.8s;
  filter: saturate(60%);
  animation: flicker steps(100) var(--interval) 5s infinite;
}


body .container .card .box .content h1 {
  margin-top: -10%;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
  text-shadow:  1px 0 10px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32 px;
  } ;
  z-index: 1;
  transition: 0.5s;
}
body .container .pCard{

  color: rgba(255, 255, 255, 0.833);
  text-shadow: #000000 1px 0 10px;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 480px) {
    font-size: 32 px;
  } ;
  
  margin: 8px;
  
}

