#Cardbody {
  margin: 0 -5px;
  background-color: black;
}
#Cardbody:after {
  content: "";
  display: table;
  clear: both;
}
#titulocard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#column {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin:3%;
  text-align: center;
  color: white;
  background: #4dc329;
  border-radius: 45px;
  transition: all 0.3s;
}

#card:hover {
  transform: scale(0.9);
  background: linear-gradient(
    60deg,
    #50c22d,
    #92f892,
    #50c22d,
    #92f892,
    #50c22d,
    #92f892
  );
  transform: scale(0.98);
  border-radius: 15px;
  border: none;
}
#name {
  text-align: center;
  margin-top: 10%;
}
#name:hover {
  outline-offset: 80px;
  text-shadow: 1px 1px 6px rgb(255, 255, 255);
  color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(71, 126, 232, 0);
}
#precio {
  text-align: center;
  margin-top: 3%;
}
#precio:hover {
  outline-offset: 80px;
  text-shadow: 1px 1px 6px rgb(255, 255, 255);
  color: rgba(71, 126, 232, 0.7);
  outline-color: rgba(0, 0, 0, 0);
}
#conjuntoLi {
  align-items: center;
}
#conjuntoLi:hover {
  transition: 1s ease-in-out;
  background: #00000083;
  border-radius: 50px;
}
#liCard {
  align-items: center;
  padding: 10px 50px 15px;
}

#imagenes {
  display: flex;
  margin-left: 10%;
  margin-top: 5%;
}
#iconoCard {
  margin: 5%;
}
#iconoCard:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.5, 1.5);
}
#contactanos {
  width: 140px;
  height: 41px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 45%;
  background: #37ee0a;
  border-color: rgba(122, 215, 255, 0.84);
  border-radius: 20px;
  
}
